<div class="container-fluid" ngStyle.lg="display:block" ngStyle.md="display:block" ngStyle.sm="display:block" ngStyle.xs="display:none">
  <div class="row bg-white">
    <div class="col-2 text-center pt-1">
      <img src="../../../../assets/img/logos/mexico-lindo-contigo.svg" class="img-header" />
    </div>
    <div class="col-10 text-center pt-1">
      <img src="../../../../assets/img/logos/tranquilidad-a-tu-alcance.svg" class="img-header-tranquilidad" />
    </div>
    <div class="col-md-12 p-0">
      <hr class="separador mt-1 mb-0" />
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row d-flex-center mt-3">
    <div class="col-12 text-center p-0" ngStyle.lg="display:none" ngStyle.md="display:none" ngStyle.sm="display:none" >
      <img src="../../../../assets/img/logos/mexico-lindo-contigo.svg" class="img-header" />
      <hr class="separador mt-4 mb-1" />
    </div>
  </div>
</div>
<div class="container">
  <div class="row mt-4">
    <div class="col-md-8 offset-md-2 col-12">
      <div class="col-12 text-center">
        <h2 class="mb-1">Autorización</h2>
        <p class="text-center mt-1">Para procesar el pago, debes proporcionar tu CURP al vendedor y recibir una autorización.</p>
        <div class="card">
          <div class="card-body">
            <p>Tu CURP</p>
            <h2 class="mb-2">{{curp}}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-8 offset-md-2 col-12">
      <div class="col-12 text-center">
        <h2 class="mb-1">Ingresa los datos de tu tarjeta para realizar el pago</h2>
        <form novalidate (ngSubmit)="createToken()" [formGroup]="stripeTest" class="card p-4">
          <input type="text" class="form-control mb-3" formControlName="name" placeholder="Ingresa tu nombre">
          <ngx-stripe-card
            [options]="cardOptions"
            [elementsOptions]="elementsOptions"
          ></ngx-stripe-card>
          <button type="submit" class="btn btn-blue mt-3">
            Pagar
          </button>
        </form>
      </div>
      <!-- <button (click)="makePayment(1)" class="btn btn-danger btn-block">Pay $15</button> -->
    </div>
  </div>
</div>
