<!--Page Starts-->
<div class="container-fluid" ngStyle.lg="display:block" ngStyle.md="display:block" ngStyle.sm="display:block" ngStyle.xs="display:none">
  <div class="row bg-white">
    <div class="col-md-2 text-center pt-1">
      <img src="../../../../assets/img/logos/mexico-lindo-contigo.svg" class="img-header" />
    </div>
    <div class="col-md-10 text-center pt-1">
      <img src="../../../../assets/img/logos/tranquilidad-a-tu-alcance.svg" class="img-header-tranquilidad" />
    </div>
    <div class="col-md-12 p-0">
      <hr class="separador mt-1 mb-0" />
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row bg-white align-items-center" *ngIf="index == 1">
    <div class="col-12 text-center p-0 mt-2">
      <h2>Datos personales</h2>
      <h3 class="m-0 fontResponsive">Para continuar debes llenar todos los campos.</h3>
    </div>
    <div class="col-12 p-0">
      <hr class="separador mt-4 mb-0" />
    </div>
  </div>
  <div class="row bg-white align-items-center" *ngIf="index == 2">
    <div class="col-12 text-center p-0 mt-2">
      <i class="fas fa-arrow-left fa-2x float-left ml-2 cursor-pointer" matStepperPrevious (click)="backStep(stepper)"></i>
      <h2>Confirma tus datos</h2>

      <h3 class="m-0 fontResponsive">Por favor confirma que todos los datos son correctos.</h3>
    </div>
    <div class="col-12 p-0">
      <hr class="separador mt-4 mb-0" />
    </div>
  </div>
  <div class="row bg-white align-items-center" *ngIf="index == 3">
    <div class="col-12 text-center p-0 mt-2">
      <i class="fas fa-arrow-left fa-2x float-left ml-2 cursor-pointer" matStepperPrevious (click)="backStep(stepper)"></i>
      <h2>Confirma tu Plan</h2>
      <h3 class="m-0 fontResponsive">Por favor confirma el diseño de tu Plan y selecciona la forma de pago.</h3>
    </div>
    <div class="col-12 p-0">
      <hr class="separador mt-4 mb-0" />
    </div>
  </div>
</div>
<div class="container-fluid mt-3 p-0">
  <div class="row m-0">
    <div class="col-12 p-0">
          <div class="container" [ngClass]="{'container-fluid': index == 3}">
          <mat-stepper [linear]="true" class="stepper-datos-formulario" #stepper>
            <mat-step label="">
              <div class="row d-flex-center mt-2">
                <div class="col-md-6 col-lg-4 col-sm-12" *ngFor="let item of arrBeneficiarios">
                  <div class="card cardBeneficios p-1">
                    <div class="card-body">
                      <div class="row vCenter">
                        <div class="col-3 col-sm-4 col-md text-center vCenter">
                          <span class="tipobeneficiario">{{item.tipoBeneficiario}}</span>
                        </div>
                        <div class="col-4 col-sm-3 col-md-5 text-center" *ngIf="item.completo">
                          <button class="btn btn-outline-success btn-listo">¡Listo!</button>
                        </div>
                        <div class="col-4 col-sm-3 col-md-5 text-center" *ngIf="!item.completo">
                          <button class="btn btn-outline-danger btn-incompleto">Incompleto</button>
                        </div>
                        <div class="col-4 text-center">
                          <button class="boton-editar" (click)="openModal(modalTitular, item)" *ngIf="item.tipoBeneficiarioId == 15">Editar</button>
                          <button class="boton-editar" (click)="openModal(modalPareja, item)" *ngIf="item.tipoBeneficiarioId == 16">Editar</button>
                          <button class="boton-editar" (click)="openModal(modalFamilia, item)" *ngIf="item.tipoBeneficiarioId > 16">Editar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="row mt-2"> -->
                <div class="row mt-2" *ngIf="this.formlarioCompleto">
                <div class="col-12 text-center">
                  <button class="btn btn-blue mb-1" (click)="changeStep(stepper)">Continuar</button>
                </div>
              </div>
            </mat-step>
             <!-- Step Conormación datos -->
            <mat-step label="">
              <div class="row d-flex-center mt-2">
                <div class="col-md-6 col-lg-4 col-sm-12 mb-2" *ngFor="let item of arrBeneficiarios">
                  <div *ngIf="item.tipoBeneficiarioId == 15" class="datos-detalle-confirmar">
                    <h3 class="mb-1"><b>{{item.tipoBeneficiario}}</b></h3>
                    <p><b>Nombre:</b> {{item.nombre}} {{item.apellidoPaterno}} {{item.apellidoMaterno}}</p>
                    <p><b>Teléfono:</b> {{item.telefono}}</p>
                    <p><b>Email:</b> {{item.correo}}</p>
                    <p><b>Fecha de Nacimiento:</b> {{item.fechaNacimiento | date: 'dd-MM-yyyy'}}</p>
                    <p><b>Sexo:</b> {{item.sexo}}</p>
                    <p><b>País origen:</b> {{item.paisOrigen}}</p>
                    <p><b>Estado origen:</b> {{item.estadoOrigen}}</p>
                    <p><b>País de residencia:</b> {{item.paisTrabajo}}</p>
                    <p><b>Estado/Provincia:</b> {{item.estadoTrabajo}}</p>
                  </div>
                  <div *ngIf="item.tipoBeneficiarioId == 16"  class="datos-detalle-confirmar">
                    <h3 class="mb-1"><b>{{item.tipoBeneficiario}}</b></h3>
                    <p><b>Nombre:</b> {{item.nombre}} {{item.apellidoPaterno}} {{item.apellidoMaterno}}</p>
                    <p><b>Teléfono:</b> {{item.telefono}}</p>
                    <p><b>Email:</b> {{item.correo}}</p>
                    <p><b>Fecha de Nacimiento:</b> {{item.fechaNacimiento | date: 'dd-MM-yyyy'}}</p>
                    <p><b>Sexo:</b> {{item.sexo}}</p>
                    <p *ngIf="cmbEstadoPareja != 33"><b>País de residencia:</b> {{item.paisOrigen}}</p>
                    <p *ngIf="cmbEstadoPareja != 33"><b>Estado:</b> {{item.estadoOrigen}}</p>
                  </div>
                  <div *ngIf="item.tipoBeneficiarioId > 16"  class="datos-detalle-confirmar">
                    <h3 class="mb-1"><b>{{item.tipoBeneficiario}}</b></h3>
                    <p><b>Nombre:</b> {{item.nombre}} {{item.apellidoPaterno}} {{item.apellidoMaterno}}</p>
                    <p><b>Teléfono:</b> {{item.telefono}}</p>
                    <p><b>Email:</b> {{item.correo}}</p>
                    <p><b>Fecha de Nacimiento:</b> {{item.fechaNacimiento | date: 'dd-MM-yyyy'}}</p>
                    <p><b>Sexo:</b> {{item.sexo}}</p>
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-12 text-center">
                  <button class="btn btn-blue mb-1" (click)="changeStep(stepper)">Continuar</button>
                </div>
              </div>
            </mat-step>
            <!-- Fin Step Conormación datos -->
            <!-- Step Conormación plan -->
            <mat-step label="">
              <div class="row d-flex-center mt-2 p-1">
                <div class="col-md-6 col-lg-6 col-sm-12 col-12 mb-2" ngClass.sm="mb-4">
                  <h4 class="mb-1 text-center"><b>Beneficios del Plan</b></h4>
                  <!-- <p *ngFor="let item of arrBeneficios" class="fontResponsive"> {{item}}</p> -->
                  <div class="row mt-2 vCenter text-center rowTable">
                    <div class="col-2 center-flex"></div>
                    <div class="col-2 center-flex">
                      <img src="../../../assets/img/icons/repatriacion.svg" class="img-propuesta-ico-table">
                    </div>
                    <div class="col-2 center-flex">
                      <img src="../../../assets/img/icons/servicios-funerarios.svg" class="img-propuesta-ico-table ml-2">
                    </div>
                    <div class="col-2 center-flex">
                      <img src="../../../assets/img/icons/seguro-vida.svg" class="img-propuesta-ico-table ml-2">
                    </div>
                    <div class="col-2 center-flex">
                      <img src="../../../assets/img/icons/educacion-financiera.svg" class="img-propuesta-ico-table ml-2 ">
                    </div>
                    <div class="col-2 center-flex">
                      <img src="../../../assets/img/icons/envio-dinero.svg" class="img-propuesta-ico-table ml-2 mb-1">
                    </div>
                  </div>
                  <div class="row vCenter mt-1 text-center bb-1">
                    <div class="col-2 center-flex"></div>
                    <div class="col-2 center-flex">
                      <p class="fontResponsiveTableText">Repatriación a México</p>
                    </div>
                    <div class="col-2 center-flex">
                      <p class="fontResponsiveTableText">Servicio funerario</p>
                    </div>
                    <div class="col-2 center-flex">
                      <p class="fontResponsiveTableText">Seguro de vida</p>
                    </div>
                    <div class="col-2 center-flex">
                      <p class="fontResponsiveTableText">Educación financiera</p>
                    </div>
                    <div class="col-2 center-flex">
                      <p class="fontResponsiveTableText">Envío de dinero</p>
                    </div>
                  </div>
                  <div class="row mt-2 vCenter text-center" *ngFor="let itemB of arrResumen; let i = index">

                    <div class="col-2 text-left">
                      <span class="tipobeneficiario">{{itemB.tipobeneficiario}} </span>

                    </div>
                    <ng-container *ngFor="let item of itemB.beneficioSimpleDTO">
                      <div class="col-2 center-flex" *ngIf="item.beneficioId == 1">
                        <img src="../../../assets/img/icons/bien.svg" class="img-propuesta" *ngIf="item.activo">
                      </div>
                      <div class="col-2 center-flex" *ngIf="item.beneficioId == 2">
                        <img src="../../../assets/img/icons/bien.svg" class="img-propuesta" *ngIf="item.activo">
                      </div>
                      <div class="col-2 center-flex" *ngIf="item.beneficioId == 3">
                        <img src="../../../assets/img/icons/bien.svg" class="img-propuesta" *ngIf="item.activo">
                      </div>
                      <div class="col-2 center-flex" *ngIf="item.beneficioId == 4">
                        <img src="../../../assets/img/icons/bien.svg" class="img-propuesta" *ngIf="item.activo">
                      </div>
                      <div class="col-2 center-flex" *ngIf="item.beneficioId == 5">
                        <img src="../../../assets/img/icons/bien.svg" class="img-propuesta" *ngIf="item.activo">
                      </div>
                    </ng-container>
                  </div>

                </div>
                <div class="col-md-5 col-lg-5 col-sm-12 col-12 mb-2 offset-md-1 offset-lg-1">
                  <!-- <h4 class="mb-1"><b>Plan de previsión</b></h4> -->
                  <p class="mb-1"><b>Plan: </b> {{plan['descripcionPlan']}}</p>
                  <p class="mb-1"><b>Forma de pago: </b> {{plan['formaPago']}}</p>
                  <p class="mb-1"><b>Primer pago: </b> US ${{costoInicial}}</p>
                  <p *ngIf="frecuenciaPagoId != 64"><b>Pago a partir del segundo mes: </b> US ${{plan['costo']}}</p>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-right">
                  <mat-slide-toggle #chkMenor  name="mayor56" class="btn btn-selected  mt-1 pointerEvents"
                  [checked]="true">
                    <p class="fontResponsiveSliderNotes lh-13">
                      Pago tarjeta
                    </p>
                  </mat-slide-toggle>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-left mb-2">
                  <mat-slide-toggle #chkMayor  name="menor56" class="btn btn-inactive  mt-1 pointerEvents"
                  [checked]="false">
                    <p class=" fontResponsiveSliderNotes lh-13">
                      Pago efectivo
                    </p>
                  </mat-slide-toggle>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-12 text-center">
                  <button class="btn btn-blue mb-1" [routerLink]="['/pages/autorizacion']">Continuar</button>
                </div>
              </div>
            </mat-step>
            <!-- Fin Step Conormación plan -->
          </mat-stepper>
        </div>
    </div>
  </div>
</div>

<!-- Modal Datos Titular -->
<ng-template #modalTitular let-c="close" let-d="dismiss">
  <div class="modal-header bg-gray">
    <h2 class="modal-title text-dark">{{miembroFamilia}}</h2>
    <button type="button" class="close text-dark" aria-label="Close" (click)="d('Cross click');">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-gray">
    <form [formGroup]="frm">
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control input-form-datos" formControlName="nombre" placeholder="Nombre"
          [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }">
        </div>
      </div>
      <div class="form-row  mt-1">
        <div class="col">
          <input type="text" class="form-control input-form-datos " formControlName="apaterno" placeholder="Apellido paterno"
          [ngClass]="{ 'is-invalid': submitted && f.apaterno.errors }">
        </div>
      </div>
      <div class="form-row  mt-1">
        <div class="col">
          <input type="text" class="form-control input-form-datos" formControlName="amaterno" placeholder="Apellido materno"
          [ngClass]="{ 'is-invalid': submitted && f.amaterno.errors }">
        </div>
      </div>
      <div class="form-row  mt-1">
        <div class="col">
          <!-- <select class="form-control input-form-datos mb-1" formControlName="lada" placeholder="Lada"
          [ngClass]="{ 'is-invalid': submitted && f.lada.value == '0' }">
            <option value="0" disabled>Lada</option>
            <option value="1" >🇨🇦 Canadá +1</option>
            <option value="1" >🇺🇸 Estados Unidos +1</option>
            <option value="52">🇲🇽 Mexico +52</option>
          </select> -->
          <input type="text" class="form-control input-form-datos" [maxlength]=10 formControlName="telefono" placeholder="Teléfono"
          [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }">
        </div>
      </div>
      <div class="form-row  mt-1">
        <div class="col">
          <input type="text" class="form-control input-form-datos" formControlName="correo" placeholder="Email"
          [ngClass]="{ 'is-invalid': submitted && f.correo.errors }">
        </div>
      </div>
      <div class="form-row  mt-1">
        <div class="col">
          <input class="form-control input-form-datos" #drp="bsDatepicker" bsDatepicker [maxDate]="maxDate"
          [bsConfig]="{ isAnimated: true, adaptivePosition: false }" placement="top"
          formControlName="fnacimiento" placeholder="Fecha de nacimiento"
          [ngClass]="{ 'is-invalid': submitted && f.fnacimiento.errors }">

        </div>
      </div>
      <div class="form-row  mt-1">
        <div class="col">
          <select class="form-control input-form-datos" formControlName="sexo" placeholder="Sexo"
          [ngClass]="{ 'is-invalid': submitted && f.sexo.value == '0' }">
            <option value="0" disabled>Sexo</option>
            <option value="{{item.sexoid}}" *ngFor="let item of sexos">{{item.sexo}}</option>
          </select>
        </div>
      </div>
      <div class="form-row  mt-1">
        <div class="col">
          <select class="form-control input-form-datos" formControlName="estado" placeholder="País"
          [ngClass]="{ 'is-invalid': submitted && f.estado.value == '0' }">
            <option value="0" disabled>Estado de origen de México</option>
            <option value="{{item.estadoid}}" *ngFor="let item of estados">{{item.nombreestado}}</option>
          </select>
        </div>
      </div>
      <div class="form-row  mt-1">
        <div class="col">
          <select class="form-control input-form-datos" formControlName="pais" placeholder="País"
          [ngClass]="{ 'is-invalid': submitted && f.pais.value == '0' }" (change)="getEstadosEU($event.target.value)">
            <option value="0" disabled>País donde vives/trabajas</option>
            <option value="{{item.paisid}}" *ngFor="let item of paises">{{item.descripcionpais}}</option>
          </select>
        </div>
      </div>
      <div class="form-row  mt-1">
        <div class="col">
          <select class="form-control input-form-datos" formControlName="estadoEU" placeholder="Estado"
          [ngClass]="{ 'is-invalid': submitted && f.estadoEU.value == '0' }">
            <option value="0" disabled>Estado donde vives/trabajas</option>
            <option value="{{item.estadoid}}" *ngFor="let item of estadosEU">{{item.nombreestado}}</option>
          </select>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-12 text-center">
          <button class="btn btn-pink btn-block" (click)="addUserTitular()">Guardar</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
<!-- Fin Modal Datos Titular -->

<!-- Modal Datos Pareja -->
<ng-template #modalPareja let-c="close" let-d="dismiss">
  <div class="modal-header bg-gray">
    <h2 class="modal-title text-dark">{{miembroFamilia}}</h2>
    <button type="button" class="close text-dark" aria-label="Close" (click)="d('Cross click');">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-gray">
    <form [formGroup]="frmP">
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control input-form-datos" formControlName="nombreP" placeholder="Nombre"
          [ngClass]="{ 'is-invalid': submittedP && fP.nombreP.errors }">
        </div>
      </div>
      <div class="form-row  mt-1">
        <div class="col">
          <input type="text" class="form-control input-form-datos" formControlName="apaternoP" placeholder="Apellido paterno"
          [ngClass]="{ 'is-invalid': submittedP && fP.apaternoP.errors }">
        </div>
      </div>
      <div class="form-row  mt-1">
        <div class="col">
          <input type="text" class="form-control input-form-datos" formControlName="amaternoP" placeholder="Apellido materno"
          [ngClass]="{ 'is-invalid': submittedP && fP.amaternoP.errors }">
        </div>
      </div>
      <div class="form-row  mt-1">
        <div class="col">
          <!-- <select class="form-control input-form-datos mb-1" formControlName="ladaP" placeholder="Lada"
          [ngClass]="{ 'is-invalid': submittedP && fP.ladaP.value == '0' }">
            <option value="0" disabled>Lada</option>
            <option value="1" >🇨🇦 Canadá +1</option>
            <option value="1" >🇺🇸 Estados Unidos +1</option>
            <option value="52">🇲🇽 Mexico +52</option>
          </select> -->
          <input type="text" class="form-control input-form-datos" [maxlength]=10 formControlName="telefonoP" placeholder="Teléfono"
          [ngClass]="{ 'is-invalid': submittedP && fP.telefonoP.errors }">
        </div>
      </div>
      <div class="form-row  mt-1">
        <div class="col">
          <input type="text" class="form-control input-form-datos" formControlName="correoP" placeholder="Email"
          [ngClass]="{ 'is-invalid': submittedP && fP.correoP.errors }">
        </div>
      </div>
      <div class="form-row  mt-1">
        <div class="col">
          <input class="form-control input-form-datos" #drp="bsDatepicker" bsDatepicker [maxDate]="maxDate"
          [bsConfig]="{ isAnimated: true, adaptivePosition: false }" placement="top"
          formControlName="fnacimientoP" placeholder="Fecha de nacimiento"
          [ngClass]="{ 'is-invalid': submittedP && fP.fnacimientoP.errors }">

        </div>
      </div>
      <div class="form-row  mt-1">
        <div class="col">
          <select class="form-control input-form-datos" formControlName="sexoP" placeholder="Sexo"
          [ngClass]="{ 'is-invalid': submittedP && fP.sexoP.value == '0' }">
            <option value="0" disabled>Sexo</option>
            <option value="{{item.sexoid}}" *ngFor="let item of sexos">{{item.sexo}}</option>
          </select>
        </div>
      </div>
      <div class="form-row  mt-1">
        <div class="col">
          <select cmbEstadoPareja class="form-control input-form-datos" formControlName="estadoP" placeholder="País"
          [ngClass]="{ 'is-invalid': submittedP && fP.estadoP.value == '0' }">
            <option value="0" disabled>Estado donde vives</option>
            <option value="33">No aplica</option>
            <option value="{{item.estadoid}}" *ngFor="let item of estados">{{item.nombreestado}}</option>
          </select>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-12 text-center">
          <button class="btn btn-pink btn-block" (click)="addUserPareja()">Guardar</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
<!-- Fin Modal Datos Pareja -->

<!-- Modal Datos Familia -->
<ng-template #modalFamilia let-c="close" let-d="dismiss">
  <div class="modal-header bg-gray">
    <h2 class="modal-title text-dark">{{miembroFamilia}}</h2>
    <button type="button" class="close text-dark" aria-label="Close" (click)="d('Cross click');">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-gray">
    <form [formGroup]="frm2">
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control input-form-datos" formControlName="nombre2" placeholder="Nombre"
          [ngClass]="{ 'is-invalid': submitted2 && f2.nombre2.errors }">
        </div>
      </div>
      <div class="form-row  mt-1">
        <div class="col">
          <input type="text" class="form-control input-form-datos" formControlName="apaterno2" placeholder="Apellido paterno"
          [ngClass]="{ 'is-invalid': submitted2 && f2.apaterno2.errors }">
        </div>
      </div>
      <div class="form-row  mt-1">
        <div class="col">
          <input type="text" class="form-control input-form-datos" formControlName="amaterno2" placeholder="Apellido materno"
          [ngClass]="{ 'is-invalid': submitted2 && f2.amaterno2.errors }">
        </div>
      </div>
      <div class="form-row  mt-1">
        <div class="col">
          <!-- <select class="form-control input-form-datos mb-1" formControlName="lada2" placeholder="Lada"
          [ngClass]="{ 'is-invalid': submitted2 && f2.lada2.value == '0' }">
            <option value="0" disabled>Lada</option>
            <option value="1" >🇨🇦 Canadá +1</option>
            <option value="1" >🇺🇸 Estados Unidos +1</option>
            <option value="52">🇲🇽 Mexico +52</option>
          </select> -->
          <input type="text" class="form-control input-form-datos" [maxlength]=10 formControlName="telefono2" placeholder="Teléfono"
          [ngClass]="{ 'is-invalid': submitted2 && f2.telefono2.errors }">
        </div>
      </div>
      <div class="form-row  mt-1">
        <div class="col">
          <input type="text" class="form-control input-form-datos" formControlName="correo2" placeholder="Email"
          [ngClass]="{ 'is-invalid': submitted2 && f2.correo2.errors }">
        </div>
      </div>
      <div class="form-row  mt-1">
        <div class="col">
          <input class="form-control input-form-datos" #drp="bsDatepicker" bsDatepicker [maxDate]="maxDate"
          [bsConfig]="{ isAnimated: true, adaptivePosition: true }" placement="top"
          formControlName="fnacimiento2" placeholder="Fecha de nacimiento"
          [ngClass]="{ 'is-invalid': submitted2 && f2.fnacimiento2.errors }">

        </div>
      </div>
      <div class="form-row  mt-1">
        <div class="col">
          <select class="form-control input-form-datos" formControlName="sexo2"
          [ngClass]="{ 'is-invalid': submitted2 && f2.sexo2.value == '0' }">
          <option value="0" disabled>Sexo</option>
            <option value="{{item.sexoid}}" *ngFor="let item of sexos">{{item.sexo}}</option>
          </select>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12 text-center">
          <button class="btn btn-pink btn-block" (click)="addUserPadres()">Guardar</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#e31c79" type = "square-jelly-box" [fullScreen] = "true"></ngx-spinner>

<!-- Fin Modal Datos Familia -->

<!--Page Ends-->
