<form>
  <div class="row d-flex-center">
    <div class="col-lg-4 col-md-4 col-sm-12 text-center">
      <h2><b>Repatriación a México</b></h2>
      <h3><b>(Por fallecimiento en EU)</b></h3>
      <hr class="separador mt-1 mb-2" />

      <p class=" fontResponsiveSliderNotes lh-13">¿Quién de tu familia podría requerir este beneficio?</p>
      <p class=" fontResponsiveSliderNotes lh-13">Selecciona a las personas que quieres incluir en</p>
      <p class=" fontResponsiveSliderNotes lh-13">el plan. Puedes incluir personas que viven en México</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 text-center mt-3">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-6">
          <a><img src="../../../../assets/img/icons/Padre.svg" class="img-thumbnail img-50 img-hover"></a>
        </div>
        <div class="col-md-6 col-sm-6 col-6">
          <a><img src="../../../../assets/img/icons/Madre.svg" class="img-thumbnail img-50 img-hover"></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-6">
          <a><img src="../../../../assets/img/icons/Titular.svg" class="img-thumbnail img-50 img-hover"></a>
        </div>
        <div class="col-md-6 col-sm-6 col-6">
          <a><img src="../../../../assets/img/icons/Pareja" class="img-thumbnail img-50 img-hover"></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 col-4">
          <a><img src="../../../../assets/img/icons/Hijo.svg" class="img-thumbnail img-50 img-hover"></a>
        </div>
        <div class="col-md-4 col-sm-4 col-4">
          <a><img src="../../../../assets/img/icons/Hijo-2.svg" class="img-thumbnail img-50 img-hover"></a>
        </div>
        <div class="col-md-4 col-sm-4 col-4">
          <a><img src="../../../../assets/img/icons/hijo.svg" class="img-thumbnail img-50 img-hover"></a>
        </div>
      </div>
      <div class="row">
        <button class="btn btn-blue btn-block">Agregar mas hijos</button>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 text-center">
      <div class="card">
        <div class="card-body">
          <p class=" fontResponsiveSliderNotes lh-13">Pago mensual</p>
          <h1><b>US $0.00</b></h1>
        </div>
      </div>

      <button class="btn btn-pink btn-block">
        Continuar
      </button>
    </div>
  </div>
</form>

