<!--Login Page Starts-->
<div class="container-fluid header">
  <div class="row bg-white">
    <div class="col-2 text-center pt-1">
      <img src="../../../../assets/img/logos/mlc_logo_rosa.png" class="img-header" />
    </div>
    <div class="col-10 text-center pt-1">
      <img src="../../../../assets/img/logos/tranquilidad.png" class="img-header-tranquilidad" />
    </div>
    <div class="col-md-12 p-0">
      <hr class="separador mt-1 mb-0" />
    </div>
  </div>
</div>
<div class="container-fluid">
<div class="row mt-3">
  <div class="col-12 text-center p-0">
    <h2>Propuesta</h2>
    <hr class="separador mt-4-s mb-1" />
  </div>
</div>
</div>
<div class="container-fluid mt-1 p-0">
  <div class="row m-0">
    <div class="col-12 p-0">
          <form>
            <div class="container">


              <div class="row d-flex-center">
                <div class="col-md-6 col-sm-12">
                  <div class="row">
                    <div class="col-12 text-center">
                      <img src="../../../assets/img/icons/Simple.png" class="img-propuesta"><span><b> Beneficios base</b></span>
                    </div>
                  </div>
                  <div class="row mt-2 vCenter text-center rowTable">
                    <div class="col-2 center-flex"></div>
                    <div class="col-2 center-flex">
                      <img src="../../../assets/img/icons/Repatriacion.png" class="img-propuesta-ico-table">
                    </div>
                    <div class="col-2 center-flex">
                      <img src="../../../assets/img/icons/Serv Funerario.png" class="img-propuesta-ico-table ml-2">
                    </div>
                    <div class="col-2 center-flex">
                      <img src="../../../assets/img/icons/Seguro Vida.png" class="img-propuesta-ico-table ml-2">
                    </div>
                    <div class="col-2 center-flex">
                      <img src="../../../assets/img/icons/Educ Financiera.png" class="img-propuesta-ico-table ml-2 ">
                    </div>
                    <div class="col-2 center-flex">
                      <img src="../../../assets/img/icons/Envio Dinero.png" class="img-propuesta-ico-table ml-2 mb-1">
                    </div>
                  </div>
                  <div class="row vCenter mt-1 text-center bb-1">
                    <div class="col-2 center-flex"></div>
                    <div class="col-2 center-flex">
                      <p class="fontResponsiveTableText">Repatriación a México</p>
                    </div>
                    <div class="col-2 center-flex">
                      <p class="fontResponsiveTableText">Servicio funerario</p>
                    </div>
                    <div class="col-2 center-flex">
                      <p class="fontResponsiveTableText">Seguro de vida</p>
                    </div>
                    <div class="col-2 center-flex">
                      <p class="fontResponsiveTableText">Educación financiera</p>
                    </div>
                    <div class="col-2 center-flex">
                      <p class="fontResponsiveTableText">Envío de dinero</p>
                    </div>
                  </div>
                  <div class="row mt-2 vCenter text-center" *ngFor="let itemB of arrResumen; let i = index">

                    <div class="col-2 center-flex">
                      {{itemB.tipobeneficiario}}
                    </div>
                    <ng-container *ngFor="let item of itemB.beneficioSimpleDTO">
                      <div class="col-2 center-flex" *ngIf="item.beneficioId == 1">
                        <img src="../../../assets/img/icons/Bien.png" class="img-propuesta" *ngIf="item.activo">
                      </div>
                      <div class="col-2 center-flex" *ngIf="item.beneficioId == 2">
                        <img src="../../../assets/img/icons/Bien.png" class="img-propuesta" *ngIf="item.activo">
                      </div>
                      <div class="col-2 center-flex" *ngIf="item.beneficioId == 3">
                        <img src="../../../assets/img/icons/Bien.png" class="img-propuesta" *ngIf="item.activo">
                      </div>
                      <div class="col-2 center-flex" *ngIf="item.beneficioId == 4">
                        <img src="../../../assets/img/icons/Bien.png" class="img-propuesta" *ngIf="item.activo">
                      </div>
                      <div class="col-2 center-flex" *ngIf="item.beneficioId == 5">
                        <img src="../../../assets/img/icons/Bien.png" class="img-propuesta" *ngIf="item.activo">
                      </div>
                    </ng-container>
                  </div>

                  <div class="mt-2 row">
                    <div class="col-12 text-center">
                      <img src="../../../assets/img/icons/A la medida@2x.png" class="img-propuesta">
                      <span> Beneficios a la medida</span>
                      <p class="fontResponsiveSliderNotes">Disponibles después de contratar</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-5 offset-md-1 col-sm-12">

                  <div class="card cardBeneficios">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-12 text-center mb-1 mt-1">
                          <p class="fontResponsiveSliderNotes mb-1"><b>Selecciona tu forma de pago</b></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-6 text-center mb-1">
                          <p class="fontResponsiveSliderNotes">Mensual</p>
                          <div class="btn btn-inactive mb-1 mt-1" [ngClass]="{'btn-pink': tipoPago == 65}" (click)="changeTipoPago(65)">US ${{precioMensual}}</div>
                          <p class="fontResponsiveSliderNotes">*1er. Pago de US ${{(+precioMensual) + (5)}}</p>
                        </div>
                        <div class="col-6 text-center mb-1">
                          <p class=" fontResponsiveSliderNotes">Anual</p>
                          <div class="btn btn-inactive mb-1 mt-1" [ngClass]="{'btn-purple': tipoPago == 64}" (click)="changeTipoPago(64)" >US ${{precioAnual}}</div>
                          <p class="fontResponsiveSliderNotes">*1er. Año de US ${{(+precioAnual) + (5)}}</p>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="row mt-1 text-left">
                    <div class="col-12">
                      <p class="fontResponsiveSliderNotes">* Al primer pago se le agregará un costo administrativo de $5.00 USD por única vez.</p>
                      <button class="btn btn-blue btn-block mt-1" (click)="aceptarPropuesta()" *ngIf="tipoPago != 0">
                        Continuar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              </div>
          </form>
    </div>
  </div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#e31c79" type = "square-jelly-box" [fullScreen] = "true"></ngx-spinner>
<!--Login Page Ends-->
