<!--Login Page Starts-->
<div class="container-fluid header">
  <div class="row bg-white">
    <div class="col-2 text-center pt-1">
      <img src="../../../../assets/img/logos/mexico-lindo-contigo.svg" class="img-header" />
    </div>
    <div class="col-10 text-center pt-1">
      <img src="../../../../assets/img/logos/tranquilidad-a-tu-alcance.svg" class="img-header-tranquilidad" />
    </div>
    <div class="col-md-12 p-0">
      <hr class="separador mt-1 mb-0" />
    </div>
  </div>
</div>
<div class="container-fluid">
<div class="row mt-3">
  <div class="col-12 text-center p-0" *ngIf="index == 0">
    <h2 class="mb-0">
      <b>Elegibilidad</b>
    </h2>
    <hr class="separador mt-4-s mb-2" />
  </div>
  <div class="col-12 text-center p-0" *ngIf="index == 1 || index == 2 || index == 3 || index == 4">
    <h2 class="mb-0">Declaración de Salud</h2>
    <!-- <h3 class="mb-0">¿Cómo está tu salud?</h3> -->
    <hr class="separador mt-3 mb-2" />
  </div>
  <div class="col-12 text-center p-0" *ngIf="index == 5">
    <h2 class="mb-0">
      Actividades y deportes profesionales
    </h2>
    <hr class="separador mt-4-s mb-2" />
  </div>
  <div class="col-12 text-center p-0" *ngIf="index == 6">
    <h2 class="mb-0">
      Actividades y deportes profesionales
    </h2>
    <hr class="separador mt-4-s mb-2" />
  </div>

</div>
</div>
<div class="container-fluid mt-2">
  <div class="row m-0">
    <div class="col-12">
      <mat-stepper [linear]="true" class="stepper-eligibilidad" #stepper>
        <mat-step label="">
          <div class="mt-4 text-center">
            <p>
              Gracias por avanzar en el diseño de tu Plan.
            </p>
            <br>
            <p>
              A continuación, te haremos unas preguntas para saber si podemos ofrecerte el Seguro de vida Base.
            </p>
            <br>
            <p>
              Tus respuestas serán recibidas por la Aseguradora.
            </p>
            <br>
            <p>
              Por favor lee con atención y responde con honestidad.
            </p>
            <div class="row mt-4">
              <div class="col-12 text-center">
                <button class="btn btn-blue" (click)="changeStepInicial(stepper)" *ngIf="cuestionario.length > 0">Continuar</button>
              </div>
            </div>
          </div>
        </mat-step>
        <mat-step label="" *ngFor="let pregunta of cuestionario; let i = index">
          <form>
            <div>
              <div class="container">
                <div class="row vCenter">
                  <div class="col-md-6 col-sm-12">
                    <span [innerHTML]="pregunta.descripcionPregunta"></span>
                  </div>
                  <div class="col-sm-12 col-md-6 text-center mt-2 mb-2">
                    <mat-radio-group #chk aria-label="Selecciona una opción" [ngClass]="{'disable-click': pregunta.respuesta == 'si' && pregunta.continua}"
                    (change)="pregunta.selected = true; seleccionarRespuesta(i, $event.value);">
                      <mat-radio-button value="si" [checked]="pregunta.respuesta == 'si'">Sí</mat-radio-button>
                      <mat-radio-button value="no" [checked]="pregunta.respuesta == 'no'">No</mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <div class="col-sm-12 col-md-6 text-center mt-2" *ngIf="pregunta.selected">
                    <button class="btn btn-blue" (click)="changeStep(stepper, i, chk.value, $event)">Continuar</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </mat-step>
      </mat-stepper>
    </div>
  </div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#e31c79" type = "square-jelly-box" [fullScreen] = "true"></ngx-spinner>
<!--Login Page Ends-->
