body {
  overflow: hidden !important;
}

.alert-light-danger {
  background-color: #FEEFD0 !important;
  color: #F55252  !important;
  border-color: #FEEFD0;
}

.img-header {
  max-width: 120px;
  max-height: 63px;
}
.img-header-tranquilidad {
  max-height: 63px;
}



  .fontResponsive {
    font-size: calc(0.7em + 0.1vw);
  }

  .img-thumbnail {
    border: none !important;
  }

  .fontResponsiveSlider {
    font-size: calc(0.75em + 0.75vmin);
    margin-bottom: 2px;
  }

  .fontResponsiveSliderNotes {
    font-size: calc(0.5em + 0.7vmin);
    margin-bottom: 2px;
  }

  ngb-carousel {
    // height: 387px !important;
  }

  .player-wrapper {
    height: 70%;
    width: 75%;
  }


  @media screen and (max-width: 800px) {
    .img-header-tranquilidad {
      visibility: hidden;
      clear: both;
      float: left;
      margin: 10px auto 5px 20px;
      width: 28%;
      display: none;
    }

    .player-wrapper {
      height: 90%;
      width: 90%;
    }
  }

  @media screen and (max-width: 1000px) {

    .player-wrapper {
      height: 90%;
      width: 90%;
    }
  }
